@import url("https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Inter&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Domine", serif;
}

a {
  text-decoration: none !important;
}

/* ///////////////////////////login//////////////////// */

.login {
  height: 90vh !important;
  display: flex;
  align-items: center;
  width: 100%;
}

/* //animated */

/* custom container */

.custom_container {
  width: 1320px !important;
  margin: 0 auto;
}

/* ///sort */
.sort {
  z-index: 2;
  border: 1px solid #aaa;
  width: 100px;
  height: 38px;
  text-align: center;
  color: #aaa;
}
