.category_card {
  margin: 50px 0;
}

.img_box {
  height: 400px;
  width: 400px;
  overflow: hidden;
  position: relative;
}

.cat__img {
  object-fit: cover;
  height: 430px;
  width: 430px;
  transition: transform 0.4s;
}

.cat__img:hover {
  transform: scale(1.5);
}
.name {
  position: absolute;
  top: 0;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  background: rgb(213, 22, 22);
  padding: 5px;
}

.description {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  background: rgb(213, 22, 22);
  padding: 5px;
}
/* //some effects */

.text_deco {
  display: flex;
  justify-content: center;
  margin: 100px;
}
h2 {
  color: #100f10;
  font-size: 3em;
  position: relative;
  text-transform: uppercase;
  -webkit-text-stroke: 0.2vw #e9e9e9;
}

h2::before {
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #3b3b3b;
  overflow: hidden;
  position: absolute;
  content: attr(data-text);
  border-right: 2px solid #100f10;
  -webkit-text-stroke: 0vw #f7f7fe;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}
